{% extends 'layout.html.twig' %}
{% set increment = 1 %}
{% block body %}

    <h2>News title</h2>
    <hr>

    {% for article in articles %}
        {{ increment }}
        <a href="{{ path('articlepages', {id: article.id}) }}">{{  article.title }}</a>  <hr>
        {% set increment = increment + 1 %}
        {% endfor %}

{% endblock %}

{% block title %} News title {% endblock %}