{% extends 'layout.html.twig' %}

{% block body %}

    <h2>News title</h2>
    <hr>

    {% for article in articles %}
        {{ loop.index }}
        <a href="{{ path('articlepages', {id: article.id}) }}">{{  article.title }}</a>  <hr>
        {% endfor %}

{% endblock %}

{% block title %} News title {% endblock %}